<global-footer>
  <global-footer-item href="http://www.szct.org.cn/" blankTarget>
    苏州城市建设投资发展有限责任公司
  </global-footer-item>
  <global-footer-item href="https://www.suzgas.com/" blankTarget>
    苏州燃气集团有限责任公司
  </global-footer-item>
  <global-footer-item href="http://www.szng.com/" blankTarget>
    苏州天然气管网有限公司
  </global-footer-item>
  <global-footer-item href="http://www.szwdny.com/" blankTarget>
    苏州吴都能源发展有限公司
  </global-footer-item>
  Copyright
  <i nz-icon nzType="copyright" class="mx-sm"></i>
  {{ year }}
  <a href="http://www.tusenergy.com/" target="_blank" class="mx-sm">TUS</a>
  技术支持
</global-footer>
