<div nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight" class="alain-pro__header-item">
  <nz-avatar [nzSrc]="settings.user.avatar" nzSize="small" class="mr-sm"></nz-avatar>
  {{ settings.user.userName }}
</div>
<nz-dropdown-menu #userMenu="nzDropdownMenu">
  <div nz-menu class="width-sm">
    <!-- <div nz-menu-item routerLink="/pro/account/center">
      <i nz-icon nzType="user" class="mr-sm"></i>
      {{ 'menu.account.center' | translate }}
    </div> -->
    <div nz-menu-item routerLink="/pro/account/settings">
      <i nz-icon nzType="setting" class="mr-sm"></i>
      {{ 'menu.account.settings' | translate }}
    </div>
    <div nz-menu-item routerLink="/exception/trigger">
      <i nz-icon nzType="close-circle" class="mr-sm"></i>
      {{ 'menu.account.trigger' | translate }}
    </div>
    <li nz-menu-divider></li>
    <div nz-menu-item (click)="logout()">
      <i nz-icon nzType="logout" class="mr-sm"></i>
      {{ 'menu.account.logout' | translate }}
    </div>
  </div>
</nz-dropdown-menu>
