<page-grid>
  <div nz-row [nzGutter]="24">
    <nz-card
      [nzTitle]="station['stationName'] ? '电站名称:' + station['stationName'] : '电站名称:no name'"
      [nzBordered]="false"
      class="mb-lg"
    >
      <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <g2-card
          [title]="'累计发电量'"
          [total]="station['totalPower'] ? station['totalPower'] + ' MWH' : 0"
          contentHeight="44px"
          [action]="action1"
          [footer]="footer1"
        >
          <ng-template #action1>
            <i nz-tooltip [nzTooltipTitle]="'累计发电量'" nz-icon nzType="info-circle"></i>
          </ng-template>
          <trend flag="up" style="display:block; margin-top:2px;">
            {{ '周同比' }}
            <span class="pl-sm">2%</span>
          </trend>
          <trend flag="up">
            {{ '日同比' }}
            <span class="pl-sm">3%</span>
          </trend>
          <ng-template #footer1>
            <p class="text-truncate mb0">
              {{ '当日发电量' }}
              <span class="ml-sm">{{ station['dayPower'] ? station['dayPower'] + ' kWH' : 0 }}</span>
            </p>
          </ng-template>
        </g2-card>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <g2-card
          [title]="'累计收益'"
          [total]="station['totalIncome'] ? station['totalIncome'] + ' 万元' : 0"
          contentHeight="46px"
          [action]="action2"
          [footer]="footer2"
        >
          <ng-template #action2>
            <i nz-tooltip [nzTooltipTitle]="'累计收益'" nz-icon nzType="info-circle"></i>
          </ng-template>
          <g2-mini-area *ngIf="data.visitData" color="#975FE4" height="46" [data]="data.visitData"></g2-mini-area>
          <ng-template #footer2>
            <p class="text-truncate mb0">
              {{ '当日收益' }}
              <span class="ml-sm">{{ station['dayIncome'] ? station['dayIncome'] + ' 元' : 0 }}</span>
            </p>
          </ng-template>
        </g2-card>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <g2-card
          [title]="'累计发电时长'"
          [total]="station['totalHour'] ? station['totalHour'] + ' 小时' : 0"
          contentHeight="46px"
          [action]="action3"
          [footer]="footer3"
        >
          <ng-template #action3>
            <i nz-tooltip [nzTooltipTitle]="'累计发电时长'" nz-icon nzType="info-circle"></i>
          </ng-template>
          <g2-mini-bar *ngIf="data.visitData" height="46" [data]="data.visitData"></g2-mini-bar>
          <ng-template #footer3>
            <p class="text-truncate mb0">
              {{ '当月发电时长' }}
              <span class="ml-sm">{{ station['monthHour'] ? station['monthHour'] + ' 小时' : 0 }}</span>
            </p>
          </ng-template>
        </g2-card>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <g2-card
          [title]="'自发自用比例'"
          [total]="station['usageRate'] ? station['usageRate'] + ' %' : 0"
          contentHeight="46px"
          [action]="action4"
          [footer]="footer4"
        >
          <ng-template #action4>
            <i nz-tooltip [nzTooltipTitle]="'自发自用比例'" nz-icon nzType="info-circle"></i>
          </ng-template>
          <g2-mini-progress height="46" percent="86" strokeWidth="8" target="80" color="#13C2C2"></g2-mini-progress>
          <ng-template #footer4>
            <div class="d-flex justify-content-between text-truncate">
              <trend flag="up">
                {{ 'app.analysis.week' | translate }}
                <span class="pl-sm">0.1%</span>
              </trend>
              <trend flag="up">
                {{ 'app.analysis.day' | translate }}
                <span class="pl-sm">0.1%</span>
              </trend>
            </div>
          </ng-template>
        </g2-card>
      </div>
    </nz-card>
  </div>
  <div nz-row [nzGutter]="24">
    <!-- <p>{{ data['offlineChartData'][0]['x'] }}</p> -->
    <div class="px-lg">
      <g2-timeline *ngIf="chartData" [data]="chartData" [titleMap]="titleMap"></g2-timeline>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div *ngIf="station['basicInfo'] && station['deviceInfo']" nz-row [nzGutter]="24">
      <nz-card [nzTitle]="'电站信息'" [nzBordered]="false" class="mb-lg">
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
          <nz-card [nzTitle]="'基础信息'" [nzBordered]="true" class="mb-lg">
            <p>电站全称:{{ station['basicInfo']['fullName'] }}</p>
            <p>电站地址:{{ station['basicInfo']['address'] }}</p>
            <p>负责人员:{{ station['basicInfo']['contactPerson'] }}</p>
            <p>装机容量:{{ station['basicInfo']['capacity'] }} kWp</p>
            <p>并网时间:{{ station['basicInfo']['buildTime'] }}</p>
            <p>并网等级:{{ station['basicInfo']['gridVoltage'] }} kV</p>
            <p>年CO2减排:{{ station['basicInfo']['reduceCO2'] }} 吨</p>
          </nz-card>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
          <nz-card [nzTitle]="'设备信息'" [nzBordered]="true" class="mb-lg">
            <nz-table #basicTable [nzData]="station['deviceInfo']">
              <thead>
                <tr>
                  <th>类型</th>
                  <th>品牌</th>
                  <th>型号</th>
                  <th>数量</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data">
                  <td>{{ data.deviceName }}</td>
                  <td>{{ data.brand }}</td>
                  <td>{{ data.manufactor }}</td>
                  <td>{{ data.count }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-card>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
          <nz-card [nzTitle]="'天气情况'" [nzBordered]="true" class="mb-lg">
            <iframe
              class="e2e-iframe-trusted-src"
              width="100%"
              height="150%"
              [src]="trustUrl(station['basicInfo']['weather'])"
            ></iframe>
          </nz-card>
        </div>
      </nz-card>
    </div>
  </div>
</page-grid>
