<div class="container">
  <pro-langs class="langs" btnClass></pro-langs>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">吴都能源</span>
      </div>
      <!-- <div class="desc">吴都能源智慧运维管理系统</div> -->
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i>
      2019
      <a href="//www.tusenergy.com/" target="_blank">TUS</a>
      出品
    </global-footer>
  </div>
</div>
